In [1]:
import os
import pandas as pd
from pandas import isnull # Check for missing values

In [2]:
# Master.csv
master = pd.read_csv(os.path.join("..", "data", "Master.csv"))
master.head()

,playerID,coachID,hofID,firstName,lastName,nameNote,nameGiven,nameNick,height,weight,...,birthDay,birthCountry,birthState,birthCity,deathYear,deathMon,deathDay,deathCountry,deathState,deathCity
0,aaltoan01,NaN,NaN,Antti,Aalto,NaN,Antti,NaN,73.0,210.0,...,4.0,Finland,NaN,Lappeenranta,NaN,NaN,NaN,NaN,NaN,NaN
1,abbeybr01,NaN,NaN,Bruce,Abbey,NaN,Bruce,NaN,73.0,185.0,...,18.0,Canada,ON,Toronto,NaN,NaN,NaN,NaN,NaN,NaN
2,abbotge01,NaN,NaN,George,Abbott,NaN,George Henry,Preacher,67.0,153.0,...,3.0,Canada,ON,Synenham,NaN,NaN,NaN,NaN,NaN,NaN
3,abbotre01,NaN,NaN,Reg,Abbott,NaN,Reginald Stewart,NaN,71.0,164.0,...,4.0,Canada,MB,Winnipeg,NaN,NaN,NaN,NaN,NaN,NaN
4,abdelju01,NaN,NaN,Justin,Abdelkader,NaN,NaN,NaN,73.0,195.0,...,25.0,USA,MI,Muskegon,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
master.shape

(7761, 31)

In [4]:
master.columns

Index(['playerID', 'coachID', 'hofID', 'firstName', 'lastName', 'nameNote',
       'nameGiven', 'nameNick', 'height', 'weight', 'shootCatch', 'legendsID',
       'ihdbID', 'hrefID', 'firstNHL', 'lastNHL', 'firstWHA', 'lastWHA', 'pos',
       'birthYear', 'birthMon', 'birthDay', 'birthCountry', 'birthState',
       'birthCity', 'deathYear', 'deathMon', 'deathDay', 'deathCountry',
       'deathState', 'deathCity'],
      dtype='object')

In [5]:
# Braces let us structure the code in a more readable way
(master["playerID"]
.pipe(isnull)
.value_counts())

# This is an alternative to:
isnull(master["playerID"]).value_counts()

playerID
False    7520
True      241
Name: count, dtype: int64

In [8]:
# Creating a copy of the original 'master' DataFrame to preserve the initial data
master_orig = master.copy()
# Removing rows where 'playerID' column contains NaN values
master = master.dropna(subset=["playerID"])
master.shape

(7520, 31)

In [7]:
master.columns

Index(['playerID', 'coachID', 'hofID', 'firstName', 'lastName', 'nameNote',
       'nameGiven', 'nameNick', 'height', 'weight', 'shootCatch', 'legendsID',
       'ihdbID', 'hrefID', 'firstNHL', 'lastNHL', 'firstWHA', 'lastWHA', 'pos',
       'birthYear', 'birthMon', 'birthDay', 'birthCountry', 'birthState',
       'birthCity', 'deathYear', 'deathMon', 'deathDay', 'deathCountry',
       'deathState', 'deathCity'],
      dtype='object')

In [9]:
# Removing rows where both 'firstNHL' and 'lastNHL' columns are NaN
# how='all' parameter specifies that a row should only be removed if all the listed columns are missing
master = master.dropna(subset=["firstNHL", "lastNHL"], how="all")

In [10]:
# Filter to include only rows where 'lastNHL' is 1980 or later
master = master.loc[master["lastNHL"] >= 1980]
master.shape

(4627, 31)

In [11]:
master.columns

Index(['playerID', 'coachID', 'hofID', 'firstName', 'lastName', 'nameNote',
       'nameGiven', 'nameNick', 'height', 'weight', 'shootCatch', 'legendsID',
       'ihdbID', 'hrefID', 'firstNHL', 'lastNHL', 'firstWHA', 'lastWHA', 'pos',
       'birthYear', 'birthMon', 'birthDay', 'birthCountry', 'birthState',
       'birthCity', 'deathYear', 'deathMon', 'deathDay', 'deathCountry',
       'deathState', 'deathCity'],
      dtype='object')

In [12]:
columns_to_keep = ["playerID", "firstName", "lastName",
"pos", "birthYear", "birthMon", "birthDay",
"birthCountry", "birthState", "birthCity"]

master[columns_to_keep].head()
#filter by column names
master.filter(columns_to_keep).head()

,playerID,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity
0,aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta
4,abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon
9,abidra01,Ramzi,Abid,L,1980.0,3.0,24.0,Canada,QC,Montreal
11,abrahth01,Thommy,Abrahamsson,D,1947.0,4.0,12.0,Sweden,NaN,Leksand
14,actonke01,Keith,Acton,C,1958.0,4.0,15.0,Canada,ON,Stouffville

In [12]:
# Keep columns matching regular expression (regex)
master = master.filter(regex="(playerID|pos|^birth)|(Name$)")
master.columns

In [13]:
def mem_mib(df):
    print("{0:.2f} MiB".format(
    df.memory_usage().sum() / (1024 * 1024)
    ))

mem_mib(master)
mem_mib(master_orig)

1.13 MiB
1.84 MiB

In [15]:
# Count frequency of each unique value in the 'pos' column
master["pos"].value_counts()

pos
D      1418
C      1037
L       848
R       832
G       463
F        28
L/C       1
Name: count, dtype: int64

In [19]:
#convert to categorical datatype useful because they are fixed, and fewer and repeating
#master["pos"]
pd.Categorical(master["pos"])

['C', 'L', 'L', 'D', 'C', ..., 'R', 'L', 'L', 'C', 'D']
Length: 4627
Categories (7, object): ['C', 'D', 'F', 'G', 'L', 'L/C', 'R']

In [20]:
def make_categorical(df, col_name):
    df.loc[:, col_name] = pd.Categorical(df[col_name])

In [21]:
make_categorical(master, "pos")
make_categorical(master, "birthCountry")
make_categorical(master, "birthState")
mem_mib(master)

1.13 MiB

In [22]:
master.head()

,playerID,coachID,hofID,firstName,lastName,nameNote,nameGiven,nameNick,height,weight,...,birthDay,birthCountry,birthState,birthCity,deathYear,deathMon,deathDay,deathCountry,deathState,deathCity
0,aaltoan01,NaN,NaN,Antti,Aalto,NaN,Antti,NaN,73.0,210.0,...,4.0,Finland,NaN,Lappeenranta,NaN,NaN,NaN,NaN,NaN,NaN
4,abdelju01,NaN,NaN,Justin,Abdelkader,NaN,NaN,NaN,73.0,195.0,...,25.0,USA,MI,Muskegon,NaN,NaN,NaN,NaN,NaN,NaN
9,abidra01,NaN,NaN,Ramzi,Abid,NaN,NaN,NaN,74.0,210.0,...,24.0,Canada,QC,Montreal,NaN,NaN,NaN,NaN,NaN,NaN
11,abrahth01,NaN,NaN,Thommy,Abrahamsson,NaN,Thommy Ulf,NaN,74.0,185.0,...,12.0,Sweden,NaN,Leksand,NaN,NaN,NaN,NaN,NaN,NaN
14,actonke01,NaN,NaN,Keith,Acton,NaN,Keith Edward,Woody,68.0,170.0,...,15.0,Canada,ON,Stouffville,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# Indexing on master
#master.index
#master = master.set_index("playerID")
#master.head()

In [26]:
#pickle saves space on disk, more optimal to process large data sets
master.to_pickle(os.path.join("..", "master.pickle"))

In [27]:
scoring = pd.read_csv(os.path.join("..", "data", "Scoring.csv"))
mem_mib(scoring)
scoring.shape

10.87 MiB

(45967, 31)

In [28]:
scoring.columns

Index(['playerID', 'year', 'stint', 'tmID', 'lgID', 'pos', 'GP', 'G', 'A',
       'Pts', 'PIM', '+/-', 'PPG', 'PPA', 'SHG', 'SHA', 'GWG', 'GTG', 'SOG',
       'PostGP', 'PostG', 'PostA', 'PostPts', 'PostPIM', 'Post+/-', 'PostPPG',
       'PostPPA', 'PostSHG', 'PostSHA', 'PostGWG', 'PostSOG'],
      dtype='object')

In [29]:
def recent_nhl_only(df):
    """
    Filters a DataFrame to include only rows where the league ID is 'NHL'
    and the year is 1980 or later.

    Parameters:
    df (DataFrame): The DataFrame to filter.

    Returns:
    DataFrame: A DataFrame containing only rows meeting the criteria.
    """
    return df[(df["lgID"] == "NHL") & (df["year"] >= 1980)]

scoring = recent_nhl_only(scoring)
scoring.shape

(28616, 31)

In [30]:
scoring.columns

Index(['playerID', 'year', 'stint', 'tmID', 'lgID', 'pos', 'GP', 'G', 'A',
       'Pts', 'PIM', '+/-', 'PPG', 'PPA', 'SHG', 'SHA', 'GWG', 'GTG', 'SOG',
       'PostGP', 'PostG', 'PostA', 'PostPts', 'PostPIM', 'Post+/-', 'PostPPG',
       'PostPPA', 'PostSHG', 'PostSHA', 'PostGWG', 'PostSOG'],
      dtype='object')

In [31]:
scoring = scoring.filter(regex="^(?!(Post|PP|SH)).*")
scoring.columns

Index(['playerID', 'year', 'stint', 'tmID', 'lgID', 'pos', 'GP', 'G', 'A',
       'Pts', 'PIM', '+/-', 'GWG', 'GTG', 'SOG'],
      dtype='object')

In [32]:
# Select specific columns by their index positions
scoring = scoring.iloc[:, [0, 1, 3, 6, 7, 8, 9, 14]]
scoring.columns

Index(['playerID', 'year', 'tmID', 'GP', 'G', 'A', 'Pts', 'SOG'], dtype='object')

In [33]:
make_categorical(scoring, "tmID")
scoring.head()

    playerID  year tmID    GP    G     A   Pts    SOG
0  aaltoan01  1997  ANA   3.0  0.0   0.0   0.0    1.0
1  aaltoan01  1998  ANA  73.0  3.0   5.0   8.0   61.0
2  aaltoan01  1999  ANA  63.0  7.0  11.0  18.0  102.0
3  aaltoan01  2000  ANA  12.0  1.0   1.0   2.0   18.0
7  abdelju01  2007  DET   2.0  0.0   0.0   0.0    6.0

In [37]:
#scoring.index
# # Reset the index and turn the old index into a column
scoring.reset_index().head()

   index   playerID  year tmID    GP    G     A   Pts    SOG
0      0  aaltoan01  1997  ANA   3.0  0.0   0.0   0.0    1.0
1      1  aaltoan01  1998  ANA  73.0  3.0   5.0   8.0   61.0
2      2  aaltoan01  1999  ANA  63.0  7.0  11.0  18.0  102.0
3      3  aaltoan01  2000  ANA  12.0  1.0   1.0   2.0   18.0
4      7  abdelju01  2007  DET   2.0  0.0   0.0   0.0    6.0

In [39]:
#reset index and drop old index
scoring = scoring.reset_index(drop=True)
# Alternatively, use inplace
scoring.reset_index(drop=True, inplace=True)
scoring.head()

    playerID  year tmID    GP    G     A   Pts    SOG
0  aaltoan01  1997  ANA   3.0  0.0   0.0   0.0    1.0
1  aaltoan01  1998  ANA  73.0  3.0   5.0   8.0   61.0
2  aaltoan01  1999  ANA  63.0  7.0  11.0  18.0  102.0
3  aaltoan01  2000  ANA  12.0  1.0   1.0   2.0   18.0
4  abdelju01  2007  DET   2.0  0.0   0.0   0.0    6.0

In [40]:
scoring.to_pickle(os.path.join("..", "scoring.pickle"))

In [45]:
teams = pd.read_csv(os.path.join("..", "data", "Teams.csv"))
teams.shape

(1519, 27)

In [46]:
teams.columns

Index(['year', 'lgID', 'tmID', 'franchID', 'confID', 'divID', 'rank',
       'playoff', 'G', 'W', 'L', 'T', 'OTL', 'Pts', 'SoW', 'SoL', 'GF', 'GA',
       'name', 'PIM', 'BenchMinor', 'PPG', 'PPC', 'SHA', 'PKG', 'PKC', 'SHF'],
      dtype='object')

In [47]:
teams = recent_nhl_only(teams)
#another way of eliminating columns
teams = teams[["year", "tmID", "name"]]
teams.head()

     year tmID                 name
727  1980  BOS        Boston Bruins
728  1980  BUF       Buffalo Sabres
729  1980  CAL       Calgary Flames
730  1980  CHI  Chicago Black Hawks
731  1980  COR     Colorado Rockies

In [48]:
# Number of unique values in each column
teams.nunique()

year    31
tmID    37
name    37
dtype: int64

In [49]:
make_categorical(teams, "tmID")

In [50]:
teams.to_pickle(os.path.join("..", "teams.pickle"))

In [51]:
team_splits = pd.read_csv(os.path.join("..", "data", "TeamSplits.csv"))
team_splits.shape

(1519, 43)

In [52]:
team_splits.columns

Index(['year', 'lgID', 'tmID', 'hW', 'hL', 'hT', 'hOTL', 'rW', 'rL', 'rT',
       'rOTL', 'SepW', 'SepL', 'SepT', 'SepOL', 'OctW', 'OctL', 'OctT',
       'OctOL', 'NovW', 'NovL', 'NovT', 'NovOL', 'DecW', 'DecL', 'DecT',
       'DecOL', 'JanW', 'JanL', 'JanT', 'JanOL', 'FebW', 'FebL', 'FebT',
       'FebOL', 'MarW', 'MarL', 'MarT', 'MarOL', 'AprW', 'AprL', 'AprT',
       'AprOL'],
      dtype='object')

In [53]:
team_splits = recent_nhl_only(team_splits)

In [54]:
cols_to_drop = team_splits.columns[3:11]
#filter, iloc, drop, explicit column_names assignment
team_splits = team_splits.drop(columns=cols_to_drop)
team_splits.columns
# some_data_frame.drop(rows=row_labels) <- to drop rows

Index(['year', 'lgID', 'tmID', 'SepW', 'SepL', 'SepT', 'SepOL', 'OctW', 'OctL',
       'OctT', 'OctOL', 'NovW', 'NovL', 'NovT', 'NovOL', 'DecW', 'DecL',
       'DecT', 'DecOL', 'JanW', 'JanL', 'JanT', 'JanOL', 'FebW', 'FebL',
       'FebT', 'FebOL', 'MarW', 'MarL', 'MarT', 'MarOL', 'AprW', 'AprL',
       'AprT', 'AprOL'],
      dtype='object')

In [55]:
team_splits = team_splits.drop(columns="lgID")

In [56]:
make_categorical(team_splits, "tmID")
team_splits.to_pickle(os.path.join("..", "team_splits.pickle"))